.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 60px 10px;
  height: 55vh;
}

.title {
  padding: 70px;
  font-family: var(--font-major-mono-display);
  font-size: 7rem;
  color: #C2B29E;
}

.button {
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  background-color: #333;
  box-shadow: 0px -7px 15px -4px rgba(10,228,72,1), 0px 7px 15px -4px rgba(10,228,72,1), -7px 0px 15px -4px rgba(10,228,72,1), 7px 0px 15px -4px rgba(10,228,72,1);
  color: #0AE448;
  font-weight: 200;
  left: 1700px;
  bottom: 0px;
}
