.content{
  /* margin: 200px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C2B29E;
  font-weight: 400;
  padding: 50px 0;
}

.titleWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  transform: translate(0px, -25px);
  font-size: clamp(2rem, 8vw + 1rem, 7rem);
  font-family: var(--font-major-mono-display);
  transform: scale(.2);
}

.textWrap {
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description{
  max-width: 920px;
  font-size: clamp(0.875rem, 1.5vw + 1rem, 1.5rem);
  color: #C2B29E;
}

.image{
  transform: scale(0);
}

.textWrap > * ~ * {
  margin-top: 1rem;
}

.h3{
  font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
  font-weight: 400;
  color: #C2B29E;
}

.link{
  display: flex;
  font-size: 1.25rem;
  color: #111315;
  font-weight: 800;
  
  width: -moz-max-content;
  align-items: center;
  justify-content: center;
  
}

.link svg{
  padding-top: 5px;
}

::selection{
  background-color: #C2B29E;
  color: #1f1f1f;
}

.rounded{
  border: 1px solid #111315;
  border-radius: 3em;
  padding: 15px 30px;
  background-color: #C2B29E;
}

@media (width > 40rem){
  .content{
    padding: 150px 0;
  }
  .link{
    font-size: 1.5rem;
    padding-inline: 0.5rem;
    gap: .5rem;
  }
  .rounded{
    padding: 15px 40px;
  }
}