.header{
  color: #c4bdb3;
  // border-bottom: 1px solid #afa18f84;
  border-bottom: 1px solid #38ff3545;
  display: flex;
  padding: 16px 0 16px 72px;
}

.h1{
  font-size: 2.5rem;
  font-weight: 300;
  padding-left: 10px;
}